* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #033E8C;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 60px 0;
    background-color: #FFFFFF;
}

section h2, section h1 {
    font-size: 2.8em;
    color: #053BA6;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

section p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: translateY(-10px);
}

.blog-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-content {
    padding: 0 20px;
    text-align: center;
}

.blog-content h3 {
    font-size: 2rem;
    color: #053BA6;
    margin-bottom: 15px;
}

.blog-content p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    font-size: 1.1rem;
    color: #9CB6D9;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #9CB6D9;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more:hover {
    background-color: #9CB6D9;
    color: #fff;
}

@media (max-width: 768px) {
    section {
        padding: 20px;
    }

    .blog-post {
        flex-direction: column;
        padding: 20px;
    }

    .blog-image img {
        border-radius: 8px;
    }
}

/* Serviços */
.services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #F2F2F2;
}

.service-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 1px solid #9CB6D9;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    font-size: 50px;
    color: #053BA6;
    margin-bottom: 15px;
}

h3 {
    color: #053BA6;
    margin-bottom: 15px;
}

.service-card p {
    color: #666;
}

/* Seção Quem Somos */
#quem-somos {
    background-color: #F2F2F2;
    padding: 60px 20px;
}

#quem-somos .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#quem-somos .descricao {
    max-width: 700px;
    margin-bottom: 30px;
}

#quem-somos .descricao h1 {
    font-size: 2.8rem;
    color: #033E8C;
}

#quem-somos .descricao p {
    font-size: 1.2rem;
    color: #555;
}

#quem-somos .foto {
    max-width: 500px;
    margin: 0 auto;
}

#quem-somos .imagem-quemsomos {
    width: 450px; /* Definindo a largura da imagem */
    height: 300px; /* Definindo a altura da imagem */
    object-fit: cover; /* Garantindo que a imagem preencha o espaço sem deformar */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Seção Missão */
#missao {
    padding: 60px 20px;
    background-color: #F2F2F2;
    text-align: center;
}

#missao h2 {
    font-size: 2.8rem;
    color: #053BA6;
}

#missao .descricao {
    font-size: 1.2rem;
    color: #555;
    margin: 20px auto;
    max-width: 800px;
}

#missao .foto {
    max-width: 500px;
    margin: 0 auto;
}

/* Seção Valores */
#valores {
    padding: 60px 20px;
    background-color: #F2F2F2;
    text-align: center;
}

#valores h2 {
    font-size: 2.8rem;
    color: #053BA6;
    margin-bottom: 30px;
}

.valores-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.valor {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease;
}

.valor:hover {
    transform: scale(1.05);
}

.valor i {
    font-size: 50px;
    color: #053BA6;
    margin-bottom: 15px;
}

.valor h3 {
    font-size: 1.8rem;
    color: #053BA6;
    margin-bottom: 15px;
}

.valor p {
    font-size: 1.1rem;
    color: #666;
}

/* Seção Contato */
#contato {
    padding: 60px 20px;
    background-color: #F2F2F2;
    text-align: center;
}

#contato h2 {
    font-size: 2.8rem;
    color: #053BA6;
    margin-bottom: 20px;
}

#contato p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

#contato .btn {
    padding: 15px 40px;
    background-color: #053BA6;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#contato .btn:hover {
    background-color: #033E8C;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
